# deps
node_modules/

# testing
/coverage

# next.js
.next/
/out/

# expo
.expo/
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# production
/build
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env
.env
.env*.local
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
